{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-ingress
#  namespace: demo
spec:
  ingressClassName: {{ .Values.ingress.ClassName }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: {{ .Values.ingress.path }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: web
            port:
              number: {{ .Values.service.port }}

{{- end }}


