apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    app: web
spec:
  type: {{ .Values.service.type }}
  selector:
    app: web
  ports:
    - protocol: {{ .Values.service.protocol }}
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
